:root {
    --background-color: #666da3;
    --button-border-color: rgb(147, 254, 254);
    --text-color: #d9d7d7;    
}
/* reset */
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: var(--background-color);
}
.titulo {
    text-align: center;
    font-size: 25px;
    padding: 20px 80px;
    background-color: #948eda3f;
}
.subtitulo {
    text-align: left;
    font-size: 30px;
    padding: 15px 50px;
}
.list-img {
    text-align: start;
    padding: 40px  150px;
}
.list-img img {
    width: 140px;
}